@font-face {
  font-family: "font-1";
  src: url(./assets/LibreBaskerville-Regular.ttf);
}

* {
  list-style-type: none;
}
body {
  background: black;
  color: white;
  text-align: center;
  font-family: "font-1", cursive;
}


/* img {
  object-fit: cover;
  width: 40%;
  max-width: 250px;
} */
.result-container {
  margin: 0 auto;
}
ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
  max-width: 1400px;
}
li {
  max-width: 400px;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
h2 {
  margin: 10px 0 25px;
}
.card-content {
  with: 100%;
  /* display: grid;
  grid-template-columns: 40% 60%; */
}
.card-content img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  /* box-shadow: -3px 3px 10px 3px #242323; */
}

.titre {
  display: flex;
  justify-content: center;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
 
}
