body {
    background: black;
    color: white;
    text-align: center;
    font-family: "font-1", cursive;
  }

  input {
    border: none;
    border-radius: 25px 25px 0 0;
    outline: none;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "font-1", cursive;
    margin: 3px 0px;
    width: 300px;
    padding: 10px 0px;
  }

  input[type="submit"] {
    border-radius: 0 0 25px 25px;
    background: rgb(177, 176, 176);
    transition: 0.3s ease;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background: rgb(46, 46, 46);
    color: white;
    letter-spacing: 1px;
  }
